<!DOCTYPE html>
<html lang="ja" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<link th:href="@{/css/4xx.css}" rel="stylesheet">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>404, Page Not Found</title>
</head>
<body>

<h1>Error 404</h1>

<pre>
404 Not Found
申し訳ございません。お探しのページは見つかりませんでした。

以下のリンクからログインし直してください。

</pre>

<a href="login.html" th:href="@{/login}" class="navbar-link">Login Page</a>

</body>
</html>