@CHARSET "UTF-8";

/* サイズをオレンジ〇で囲む */
span.price {
	/* サイズ指定 */
	width: 175px;
	height: 175px;
	/* 背景色 */
	background-color: #ff4500;
	/* 角を丸くする */
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}
/* 消費税の文字の大きさを変える */
span#tax {
	font-size: 35px;
}
/* 合計金額の文字の大きさを変える */
span#total-price {
	font-size: 35px;
}

/* 商品一覧の画像を中央寄せにする*/
.item-img-center {
	margin-left: auto;
	margin-right: auto;
}
/* 商品一覧のセルを固定幅にする*/
.item-list-table {
	table-layout: fixed;
}

th {
	text-align: center;
}

/* div#item-list {
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
}

div#item {
	border: 2px solid #BCBCBE;
	margin: 1%;
	border-radius: 10px;
	flex: 0 0 290px;
    padding: 20px;
}

#item-img {
	margin: auto;
    display: block;
    border-radius: 30px;
    width: 200px;
    height: 200px;
    padding: 0 0 15px 0;
	
} */

/* トップに戻るボタン */
.back-to-top {
  position: fixed;
  bottom: 45px;
  right: 45px;

  display: none;
  width: 70px;
  height: 70px;

  background-color: #f0f0f0;
  color: #333;
  opacity: 0.6;
  border-radius:50%;
  font-size: 2.4rem;
  line-height: 65px;
  text-align: center;
  text-decoration: none;
}

/* マウスを乗せた時に透明度を変える */
.back-to-top:hover {
  opacity: 1;
}

